sup {
    vertical-align: bottom;
    font-size: smaller;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-rows: 30% 70%;
}

.calculadora {
    background-color: #151F2B;
    height: 100vh;
    padding: 0.6em;
}

.contenedor-botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1em;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
    &:last-child {
        grid-column: span 3;
        background-color: #FD7400;
    }
    &:nth-child(16) {
        background: #009DCF;
    }
}

.pantalla,
.boton {
    background-color: #233040;
    color: #fff;
}
.pantalla {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    min-height: 12vh;
    font-size: 1.2em;
    word-spacing: 0.1em;
}

.funcion {
    background-color: #364B63;
}

